<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Contact info keeper">
    <meta name="author" content="Eralp">
    <title>Acme Contacts</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>

        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand text-light"><i class="far fa-heart"></i> Acme Inc.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" class="nav-link text-light">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link text-light"><i class="fas fa-sign-in-alt"></i> Login </a>
                        
                    </li>
                    
                        <li class="nav-item">
                            <a href="/logout" class="nav-link text-light"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                
                        </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/help">Help</a>
                    </li>
                    <li>
                        <a href="" id="timeClock" class="nav-link text-light"></a>  
                    </li>
                    </ul>
                </div>
            </div>
                
        </nav>

   <!--  <nav class="navbar fixed-top navbar-dark bg-dark">
       
            <a class="navbar-brand"><i class="far fa-heart"></i> Accounting Experts Inc.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="/" class="nav-link text-light">Home</a>
                    </li>
                </ul>
              </div>   
              
              
            <a href="/login" class="text-light"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/logout" class="text-light"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <div class="right menu">
                <a class="item">Help</a>
                <a href="" id="timeClock" class="text-light"><i class="sign out icon"></i></a>
            </div>
            
       
    </nav> -->

<!-- <div class="ui vertical menu">
    <div class="item">
        <div class="ui input">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="item">
        Home
        <div class="menu">
            <a class="active item">Search</a>
            <a class="item">Add</a>
            <a class="item">Remove</a>
        </div>
    </div>
    <a class="item">
        <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
        Messages
    </a>
    <div class="ui dropdown item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">
                <i class="edit icon"></i> Edit Profile</a>
            <a class="item">
                <i class="globe icon"></i> Choose Language</a>
            <a class="item">
                <i class="settings icon"></i> Account Settings</a>
        </div>
    </div>
</div> -->
