<% include partials/header %>

<div class="container main landing-page p-5">
    <h1 class="display-3">Acme Inc. Contacts</h1>
    
    <h4 class="mt-2 mb-5">Please Login to Access Contacts!</h4>
    
        
        <a href="/customers"><button class="btn btn-dark">View All Contacts</button></a>
    
</div>
    
<div class="container-fluid" style="bottom: 10px; right: 10px; position: fixed;">
        <% include partials/footer %>
</div>
    