<% include partials/header %>

<div class="container main text-center">
    <h1>Welcome to Landing page!!!</h1>
    
    <p>Landing Here!</p>
    
        
        <a href="/customers"><button class="btn btn-dark">View All Contacts</button></a>
   
    
</div>
    

    <% include partials/footer %>