<% include partials/header %>

    <div class="container mt-5 pt-5">
        <!-- <div class="ui center aligned container"> -->
            

           
            <h1 class="display-4 mb-5 text-center">Create a New Entry</h1>
            
                <form class="form" action="/customers" method="POST">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="name">First Name</label>
                                <input class="form-control form-control-sm" type="text" name="name" placeholder="First Name">
                            </div>
                            <div class="col">
                                <label>Middle</label>
                                <input type="text" class="form-control form-control-sm" name="middle" placeholder="Middle Name/initials">
                            </div>
                            <div class="col">
                                <label>Last Name</label>
                                <input type="text" class="form-control form-control-sm" name="last" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control form-control-sm" name="email" placeholder="E-mail address">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control form-control-sm" name="phone" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" class="form-control form-control-sm" name="company" placeholder="Company Name">
                    </div>
                    <div class="form-group">
                        <label>Type of Business</label>
                        <input type="text" class="form-control form-control-sm" name="typeOfBusiness" placeholder="Type of Business">
                    </div>
                    <div class="form-group">
                        <label>Address 1</label>
                        <input type="text" class="form-control form-control-sm" name="address_1" placeholder="Address 1">
                    </div>
                    <div class="form-group">
                        <label>Address 2</label>
                        <input type="text" class="form-control form-control-sm" name="address_2" placeholder="Address 2">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label>City</label>
                                <input type="text" class="form-control form-control-sm" name="city" placeholder="City">
                            </div>
                            <div class="col">
                                <label>State</label>
                                <input type="text" class="form-control form-control-sm" name="state" placeholder="State">
                            </div>
                            <div class="col">
                                <label>Zip Code</label>
                                <input type="text" class="form-control form-control-sm" name="zip" placeholder="Zip Code">
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea name="notes" class="form-control form-control-lg" maxlength="500" placeholder="Maximum length of 500 characters:"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="created">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark btn-block">Submit!</button>
                    </div>

                </form>
                <a href="/customers" class="btn btn-secondary btn-block">Back to Contacts</a>
            <!-- </div>     -->
            <!-- </div> -->
        
    </div>

        <% include partials/footer %>