@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.container.center, .container.main, .container.left {
    margin-top: 7em;
    max-width: 90%;
}
i.icon {
    font-size: 2em;
}

#delete {
    display: inline;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card-columns {
    display: inline-block;
}

.signature {
    /* position: fixed; */
	bottom: 10px;
	right: 10px;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

  @media screen and (max-width: 768px) {
      .card-columns{
          column-count: 1;
          width: 50rem;
      }
  }

  @media screen and (max-width: 576px) {
      .card-columns {
        column-count: 1;
        width: 50rem;
      }
  }